<div class="container">

	<div class="col-md-8">

		<% @posts.each do |post| %>
			<%=post.language%> <li><%=post.topic%></li> <li><%= link_to post.question, post_path(post)%></li> 
		<%end%>

	</div><!-- end of col-md-12-->


</div><!-- end of container  -->



