<div class="container">

<div class="col-md-8">


<ul id="language_list">
		<%@languages.each do |language| %>

		<li class="language_name" id="list_item_<%=language.name%>"><%=language.name%>



			<ul>
					<% language.topics.each do |topic| %>


					<li class="language_topic"><%=topic.name%>

						<ul>

							<%topic.questions.each do |question| %>

								<li class="language_question"><%= link_to question.title, language_topic_question_path(language,topic,question)%>

								</li>
							<%end%>
						</ul>
					</li>
					<%end%>
			</ul><br>
		<%end%>

	</li>
</div>
</ul>


<script>



///////////////////////////////////////////////////////////////// Filter Index View

var mapper = ["All","HTML", "CSS", "JavaScript", "Ruby", "GIT"];

for(var x = 0; x < mapper.length; x++){
	var clickName = "#" + mapper[x];
	console.log(clickName)//  #HTML

	//HTML to GIT//
	$(clickName).on("click", function(){
		var id = this.id;
		var newid = "list_item_" + id; //list_item_HTML

		console.log(newid)

		var list_items = document.querySelectorAll("#language_list > li");
		for (i = 0; i < list_items.length; i++) {
			if (list_items[i].id == newid) {  //if not "HTML"
				list_items[i].style.display = "block"
			}
			else if (newid == "list_item_All") {
				list_items[i].style.display = "block"
			}else{
				list_items[i].style.display = "none"
			}
		}
	});
}

</script>
<!-- end of ul —->
